.App {
	font-family: sans-serif;
	text-align: center;
}
.App > div {
	background-color: #000000;
	margin-bottom: 20px;
	border: solid pink 2px;
}

g {
	display: inline;
	color: #92ba6b;
}

r {
	display: inline;
	color: #f10c33;
}

y {
	display: inline;
	color: #efe8a0;
}

ss {
	display: inline;
	color: #f5dbbf;
}

m {
	display: inline;
	color: #f3ac8c;
}
w {
	display: inline;
	color: #ffffff;
}

.offset {
	color: pink;
}
